body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px;
    gap: 10px;
}

.intro-and-image{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 30%;
    padding: 50px;
    flex-grow: 1;
}

.intro h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.intro p{
     font-size: 18px;
     color: #E5E7EB;
     text-decoration: none;
     margin: 10px 0 20px 0;
 }

.intro a {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
}

.intro-and-image img {
    width: auto;
    height: auto;
    flex-grow: 1;
}
